@import "reset";
@import "leaflet";
@import "themes/light";
@import "themes/dark";
@import "variables/global";
@import "../../shared/assets/fonts/index";

.app {
  font-family: "MyConsolas", "Open Sans", serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pageContainer {
  width: 55%;
  padding: 0 20px;

}
//
@media screen and (max-width: 780px) {
  .pageContainer {
    width: 100%;
  }
}
