@import "reset";
@import "leaflet";
@import "themes/light";
@import "themes/dark";
@import "variables/global";

.app {
  font-family: "Consolas", "Open Sans", serif;
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}