@import "reset";
@import "leaflet";
@import "themes/light";
@import "themes/dark";
@import "variables/global";

.app {
  font-family: "Consolas", "Open Sans", serif;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pageContainer {
  width: 850px;
  padding: 0 20px;
}