.root {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: var(--border-teal);
  padding: 20px;
  border-radius: 20px;

  .titleDescription {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    color: rgba(0, 128, 128, 0.8);
    font-size: 25px;
    font-weight: 300;
  }

  .locationName {
    color: teal;
  }
}