.root {

  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: column;
  gap: 3px;

  .defaultBackground {
    background-color: lightgray;
    border-radius: 20px;
    margin: 2px 8px;
    padding: 2px 10px;
  }

  .expenseBackground {
    background-color: var(--expense-background);
  }

  .incomeBackground {
    background-color: var(--income-background);
  }

  .description {
    word-wrap: break-word;
  }

}