.root {


  .list {
    display: flex;
    flex-direction: column-reverse;
    gap: 3px;
    margin-bottom: 5px;
  }

  .title {
    text-align: center;
    margin-bottom: 5px;
  }

  .emptyMessage {
    text-align: center;
  }


}
