.root {
  margin: 25px 0 0 0;
  padding-bottom: 20px;
  font-size: 26px;
  color: var(--primary-color);

  .list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .link {
      padding: 5px 15px;
      box-shadow: 0 0 0 1px rgba(0, 128, 128, 0.4);
      border-radius: 15px;
      cursor: pointer;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: white;
        background-color: rgba(0, 128, 128, 0.4);
        transition: background-color, color .1s;
      }

      &.active {
        color: white;
        background-color: rgba(0, 128, 128, 0.4);
        box-shadow: 0 0 0 5px rgba(0, 128, 128, 0.4);
        transition: background-color, color, box-shadow .1s;
      }
    }
  }
}



