.defaultBackground {
  background-color: lightgray;
  border-radius: 5px; /* пример закруглений */
  margin: 2px 8px;
  padding: 2px 5px;
}

.redBackground {
  background-color: #9a9797;
}

.greenBackground {
  background-color: green;
}