.MyButton {
  padding: 8px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 2px solid rgba(0, 128, 128, 0.5);
  cursor: pointer;
  border-radius: 15px;
  margin-left: 2px;
  transition: all 0.2s;

  &:hover {
    background-color: rgba(0, 128, 128, 0.4);
    color: white;

  }
}