.root {
  position: relative;

  .list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
  }

  .title {
    font-weight: bold;
  }

  .activeStatus {
    background-color: #7878ce;
    padding: 3px;
    border-radius: 10px;
    color: white;
  }

  .statusDone {
    background-color: yellowgreen;
    padding: 3px;
    border-radius: 10px;
    color: white;
  }

  .closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
  }

  .progressItem {
    display: flex;
    gap: 5px;
  }
}
