@font-face {
  font-family: 'MyConsolas';
  src: url('./Consolas-Regular.woff2') format('woff2'),
  url('./Consolas-Regular.woff') format('woff'),
  url('./Consolas-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}