.tabContainer {
  position: absolute;
  display: flex;
  top: -28px;
  left: -1px;
}

.tab {
  font-size: 14px;
  background-color: var(--bookmarks-background);
  border: var(--border-teal);
  border-bottom: none;

  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  height: 27px;
}

.active {
  position: relative;
  border-bottom: none;
  background-color: var(--bookmarks-background);
  box-shadow: 0px -1px 1px rgba(128, 128, 100, 0.5);/* Сверху */
  z-index: 3;
  height: 28px;


}

@media screen and (max-width: 330px){
  .tab {
    font-size: 12px;
  }
}