html {
    scrollbar-gutter: stable;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App {
    font-family: "Open Sans", serif;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

ul {
    list-style-type:  none;
}

.leaflet-container {
    height: 300px;
    width: 500px;
    border-radius: 20px;
}