.root {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .titleAccount {
    font-size: 14px;
    color: dimgrey;
  }

  .balanceCount {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    max-width: max-content;
  }

  .balanceContainer {
    display: flex;
    gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .root {
    gap: 5px;

    .balanceContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;

    }
  }
}
